<div class="row">
  <% @posts.each do |post| %>
    <div class="col s6 m4 l3">
      <div class="card" style="min-height: 250px;">
        <div class="card-content black-text">
          <span class="card-title"><%= post.title %></span>
          <%= link_to(simple_format(post.content), "/posts/#{post.id}") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
