<div class="row">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><%= @post.title %></span>
        <p><%= simple_format(@post.content) %></p>
      </div>
      <div class="card-action">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <!-- {method: "post"}とすることで「post」ルーティングを探す  -->
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>